.alert-custom{
    background-color:rgba(62, 176, 188, 0.3);
    /* color:#fff; */
  }
  #carousel{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, .2)
    /* box-shadow: 0 1px 1px rgba(0, 0, 0, .2) */
  }
  #carousel{
    background-color: aqua;
  }
  .arr-right .breadcrumb-item+.breadcrumb-item::before {
 
    content: "|";
   
    vertical-align:top;
   
    color: #408080;
   
    font-size:20px;
   
    line-height:18px;
   
  }